#content {
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #fcfbfb;
    font-family: 'Goblin One', cursive;;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #238088;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width:80px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #15EDA3;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #1E555C;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    max-width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    text-align: center;
    color: #15EDA3;
}

#hero-msg h4 {
    text-align: center;
    color: #15EDA3;
}

.home-title {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-top: 10px;
}

main section {
    text-align: center;
    color: #15EDA3;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #1E555C;
}

.card-img {
    border: 10px solid #238088;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rice{
    font-family: 'Playfair Display', serif;
    text-align: center;
    grid-column: 4/8;
    color: #15EDA3;
}

.noodle{
    font-family: 'Playfair Display', serif;
    text-align: center;
    grid-column: 4/8;
    grid-row: 3/4;
    color: #15EDA3;
}

.snake{
    font-family: 'Playfair Display', serif;
    text-align: center;
    grid-column: 4/8;
    grid-row:5/6 ;
    color: #15EDA3;
}

.rivers-card{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: 0;
}
.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: 0;
}
.rapids-card{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
    margin-top: 0;
    margin-bottom: 0;
}

.rivers-card-1{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 4/5;
    margin-top: 0;
    margin-bottom: 0;
}
.camping-card-1{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 4/5;
    margin-top: 0;
    margin-bottom: 0;
}
.rapids-card-1{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 4/5;
    margin-top: 0;
    margin-bottom: 0;
}

.rivers-card-2{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 6/7;
    margin-top: 0;
    margin-bottom: 0;
}
.camping-card-2{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 6/7;
    margin-top: 0;
    margin-bottom: 0;
}
.rapids-card-2{
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 6/7;
    margin-top: 0;
    margin-bottom: 0;
}
main section img{
    box-sizing: border-box;
}

footer{
    background-color: #238088;
    color:#15EDA3;
    padding:25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}

footer a {
    color: #15EDA3;
    text-decoration: none;
}

footer a:hover {
    color: #15EDA3;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

.msg{
    background-color: rgb(109, 174, 109);
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.msg p {
    color: white;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.icon-bar {
    position: fixed;
    top: 50%;
    left: 0%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  /* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
.icon-bar a:hover {
    background-color: #000;
  }
  
.facebook {
    background: #3B5998;
    color: white;
  }
  
.twitter {
    background: #55ACEE;
    color: white;
  }
  
.instagram {
    background: #e5009f;
    color: white;
  }

.youtube {
    background: #bb0000;
    color: white;
  }
/* .icon {
    width:80px;
    padding-top: 10px;
} */

.taiwanese-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1E555C;
    align-content: center;
}

#t-rice-video{
    grid-column:1/2 ;
    grid-row: 1/2;
    margin-left: 20px;
}

.t-food-1 {
    grid-column: 2/3;
    width: 100%;
    margin-top: 80px;
}

.t-food-1 p{
    margin: 10px;
    margin-left: 100px;
    text-align: start
}

.t-food-1{
    text-align: center;
}

#t-noodle-video{
    grid-column: 2/3;
    grid-row: 5/10;
}

.t-food-2 {
    grid-column: 1/2;
    grid-row: 5/10;
    margin-top: 10px;
}

.t-food-2 p{
    margin: 10px;
    margin-left: 60px;
    text-align: start
}

.t-food-2 h4{
    text-align: center;
}
#t-snake-video{
    grid-column: 1/2;
    grid-row: 11/15;
}

.t-food-3 {
    grid-column: 2/3;
    grid-row: 10/15;
    margin-top: 80px;
}

.t-food-3 p{
    margin: 10px; 
    margin-bottom: 10px;
    margin-left: 100px;
    text-align: start
}

.t-food-3{
    text-align: center;
}

.japanes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1E555C;
    align-content: center;
}

#j-rice-video{
    grid-column:1/2 ;
    grid-row: 1/2;
    margin-left: 20px;
}

.j-food-1 {
    grid-column: 2/3;
    width: 100%;
    margin-top: 60px;
}

.j-food-1 p{
    margin: 10px;
    text-align: start;
}

.j-food-1 h4{
    text-align: center;
}

#j-noodle-video{
    grid-column: 2/3;
    grid-row: 5/10;
}

.j-food-2 {
    grid-column: 1/2;
    grid-row: 5/10;
    margin-top: 10px;
}

.j-food-2 p{
    margin: 10px;
    margin-left: 60px;
    text-align: start;
}

.j-food-2 h4{
    text-align: center;
}
#j-snake-video{
    grid-column: 1/2;
    grid-row: 11/15;
}

.j-food-3 {
    grid-column: 2/3;
    grid-row: 10/15;
    margin-top: 80px;
}

.j-food-3 p{
    margin: 10px; 
    text-align: start;
}

.j-food-3 h4{
    text-align: center;
}

.korean-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1E555C;
    align-content: center;
}

#k-rice-video{
    grid-column:1/2 ;
    grid-row: 1/2;
    margin-left: 20px;
}

.k-food-1 {
    grid-column: 2/3;
    width: 100%;
    margin-top: 80px;
}

.k-food-1 p{
    margin: 10px;
}

#k-noodle-video{
    grid-column: 2/3;
    grid-row: 5/10;
}

.k-food-2 {
    grid-column: 1/2;
    grid-row: 5/10;
    margin-top: 10px;
}

.k-food-2 p{
    margin: 10px;
}
#k-snake-video{
    grid-column: 1/2;
    grid-row: 11/15;
}

.k-food-3 {
    grid-column: 2/3;
    grid-row: 10/15;
    margin-top: 80px;
}

.k-food-3 p{
    margin: 10px; 
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
    #hero, .taiwanese-grid {
        display: block;
        height: auto;
    }
    #hero, .japanes-grid {
        display: block;
        height: auto;
    }
    #hero, .korean-grid {
        display: block;
        height: auto;
    }
}